<td><%= date %></td>
<td><%= from %></td>
<td><%= to %></td>
<td><%= initialMileage %></td>
<td><%= finalMileage %></td>
<td>
    <span class="label label-success label-mini"><%= status %></span>
</td>
<td class="center">
    <a href="#journey/<%= id %>" class="btn mini purple"><i class="icon-edit"></i> Edit</a>
    <a href="#" data-id="<%= id %>" name="delete" class="btn mini black"><i class="icon-trash"></i> Delete</a>
</td>