<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">


    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span6">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Journeys <small>your journeys list</small>
            </h3>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
        <div class="span6">
            <div class="clearfix pull-right page-title-actions">
                <div class="btn-group">
                    <button id="addJourney" class="btn green">
                        Add New Journey <i class="icon-plus"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE HEADER-->


    <!-- BEGIN PAGE CONTENT-->
    <div class="row-fluid">
        <div class="span12">
            <div class="portlet-body">
                <table class="table table-striped table-hover table-bordered" id="journey_table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Initial Mileage</th>
                        <th>Final Mileage</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>



                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTENT -->
</div>
<!-- END PAGE CONTAINER-->