<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">

    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Journey <small>your journey </small>
            </h3>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->

    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <form id="save_journey" action="#" class="form-horizontal">
                <div class="control-group">
                    <label class="control-label">When</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="m-wrap small hasDatepicker" id="date" name="date" value="<%= date %>"
                                   data-provide="datepicker"
                                   data-date-format="yyyy-mm-dd"
                                   data-date-autoclose="true">
                            <span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">From</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="m-wrap large" id="from" name="from" value="<%- from %>">
                        <span class="help-inline">The location of your departure</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">To</label>
                    <div class="controls">
                        <input type="text" placeholder="" class="m-wrap large" id="to" name="to" value="<%- to %>">
                        <span class="help-inline">Where are you going?</span>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Status</label>
                    <div class="controls">
                        <select class="medium m-wrap" id="status" name="status" selected="Done">
                            <option value="New">New</option>
                            <option value="Started">Started</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Done">Done</option>
                            <option value="Done with issues">Done with issues</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Initial Mileage</label>
                    <div class="controls">
                        <div class="input-append">
                            <span class="add-on"><i class="icon-dashboard"></i></span>
                            <input type="text" placeholder="" class="m-wrap small" id="initialMileage" name="initialMileage" value="<%- initialMileage %>">
                            <span class="add-on">.00</i></span>
                        </div>
                        <span class="help-inline">Look at your car indicator</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Final Mileage</label>
                    <div class="controls">
                        <div class="input-append">
                            <span class="add-on"><i class="icon-dashboard"></i></span>
                            <input type="text" placeholder="" class="m-wrap small" id="finalMileage" name="finalMileage" value="<%- finalMileage %>">
                            <span class="add-on">.00</i></span>
                        </div>
                        <span class="help-inline">Look at your car indicator</span>
                    </div>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn blue save"><i class="icon-ok"></i> Save</button>
                    <button type="button" class="btn cancel">Cancel</button>
                </div>
            </form>
        </div>
    </div>
    <!-- END PAGE HEADER-->
</div>
<!-- END PAGE CONTAINER-->
