<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
<div class="row-fluid">
<div class="span12">
<h3 class="page-title">
    Your Profile
    <small>edit your information bellow</small>
</h3>
<div class="tabbable tabbable-custom boxless">
<ul class="nav nav-tabs">
    <li class="active"><a href="#tab_1" data-toggle="tab">View Profile</a></li>
    <li class=""><a class="" href="#tab_2" data-toggle="tab">Change Password</a></li>
</ul>
<div class="tab-content">
<div class="tab-pane active" id="tab_1">
    <form id="personal_information" action="#" class="horizontal-form">
        <h3 class="form-section">Personal Information </h3>
        <div class="row-fluid">
                <div class="control-group">
                    <label class="control-label" for="email">Email</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" class="m-wrap large" value="<%= email %>">
                        <span class="help-inline">We use it for communication.</span>
                    </div>
                </div>
        </div>
        <!--/row-->
        <div class="row-fluid">
            <div class="span6 ">
                <div class="control-group">
                    <label class="control-label" for="license_id">License ID</label>
                    <div class="controls">
                        <input type="text" id="license_id" name="license_id" class="m-wrap span12" value="<%= license_id %>">
                    </div>
                </div>
            </div>
            <!--/span-->
            <div class="span6 ">
                <div class="control-group">
                    <label class="control-label" for="license_expire_at">Expire at</label>
                    <div class="controls">
                        <div class="input-append">
                            <input type="text" class="m-wrap span12 hasDatepicker" id="license_expire_at" name="license_expire_at"
                                   data-provide="datepicker"
                                   data-date-format="yyyy-mm-dd"
                                   data-date-autoclose="true"
                                   value="<%= license_expire_at %>"/>
                            <span class="add-on">
                                <i class="icon-calendar"></i>
                            </span>
                        </div>
                        <span class="help-inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;YYYY/MM/DD</span>
                    </div>
                </div>
            </div>
            <!--/span-->
        </div>
        <div class="row-fluid">
            <div class="span12 ">
                <div class="control-group">
                    <label class="control-label">Special conditions</label>
                    <div class="controls">
                        <textarea class="m-wrap span12" rows="5" id="license_special_conditions"
                                  name="license_special_conditions" value="<%= license_special_conditions %>"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="form-actions">
            <button type="submit" class="btn blue save_profile"><i class="icon-ok"></i> Save</button>
            <button type="button" class="btn cancel">Cancel</button>
        </div>
    </form>
</div>
<div class="tab-pane" id="tab_2">
    <form action="#" id="change_password" class="horizontal-form">
        <h3 class="form-section">Change your password</h3>
        <div class="row-fluid">
            <div class="control-group">
                <label class="control-label" for="password">Current password</label>
                <div class="controls">
                    <input type="password" class="m-wrap large" id="password" name="password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="new_password">New password</label>
                <div class="controls">
                    <input type="password" class="m-wrap large" id="new_password" name="new_password">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="rnew_password">Repeat password</label>
                <div class="controls">
                    <input type="password" class="m-wrap large" id="rnew_password" name="rnew_password">
                </div>
            </div>
        </div>
        <!--/row-->
        <div class="form-actions">
            <button type="submit" class="btn blue change_password"><i class="icon-ok"></i> Save</button>
            <button type="button" class="btn cancel">Cancel</button>
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- END PAGE CONTAINER-->