<!-- BEGIN LOGO -->
<div class="brand">
    <img src="img/logo.png" alt="logo" />
</div>
<!-- END LOGO -->


<!-- BEGIN RESPONSIVE MENU TOGGLER -->
<a href="javascript:;" class="btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
    <img src="img/menu-toggler.png" alt="" />
</a>
<!-- END RESPONSIVE MENU TOGGLER -->


<!-- BEGIN TOP NAVIGATION MENU -->
<ul class="nav pull-right">
    <!-- BEGIN USER LOGIN DROPDOWN -->
    <li class="dropdown user">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="username"><%- username %></span>
            <i class="icon-angle-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#profile"><i class="icon-user"></i>&nbsp;&nbsp;&nbsp;My Profile</a></li>
            <li class="divider"></li>
            <li><a href="#logout"><i class="icon-key"></i>&nbsp;&nbsp;Log Out</a></li>
        </ul>
    </li>
    <!-- END USER LOGIN DROPDOWN -->
</ul>
<!-- END TOP NAVIGATION MENU -->